@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    color: #fff;
    font-family: "Roboto", sans-serif;
    max-width: 1835px;
    margin: 0 auto;

}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.hero {
    background-color: #1f2937;
    padding-bottom: 80px;
    width: 100%;
    position: relative;
}

.hero nav,
.hero-contents,
.call-to-action {
    width: 74%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    height: 70px;

}

nav .logo {
    font-size: 24px;
    font-weight: 600;
    color: #f9faf8;
}

ul {
    display: flex;
    gap: 30px;
}

ul li {
    list-style: none;

}

.hero-contents {
    margin: 60px auto;
    height: max-content;

}

.hero-contents .content {
    width: 45%;

}

.hero-contents .image {

    width: 50%;
    height: 260px;
    overflow: hidden;

}

.hero-contents .content h1 {
    font-size: 55px;
    color: #f9faf8;
    font-weight:800;
}

.hero-contents .content p {
    font-size: 19px;
    color: #e5e7e8;
    margin-top: 24px;
}
.hero-contents .content button{
    color: #fff;
    background-color:#3882f6;
    border-radius: 10px;
    padding: 10px 27px;
    font-size: 20px;
    border: none;
    outline: none;
    margin-top: 24px;
}
section{
    display: flex;
    flex-direction: column;
    gap: 100px;
}
.information
{
    width: 70%;
    margin: 0 auto;
padding: 0 5%;

}
.information h3{
    font-size: 36px;
    color: #1f2937;
    text-align: center;
    margin: 60px 0;
}
.information .img-boxes{
display: flex;
justify-content: space-around;
gap: 20px;
align-items: center;
margin-top: 20px;

}
.img-boxes .box{
    width: 200px;
    height: 250px;
    overflow: hidden;
    
}
.box .image{
    width: 100%;
    height: 200px;
    /* border: 3px solid #3882f6; */
    border-radius: 15px; 
    overflow: hidden;
}
.box p{
    margin-top: 8px;
    color: #1f2937db;
    font-size: 19px;
}
.quote{
    background-color: #e5e7e8;
    padding: 5% 25%;
}
.quote-content p{
    font-size: 36px;
    font-style: italic;
    color: #1f2937b5;
}
.quote-content h5{
    text-align: right;
    font-weight: bolder;
    font-size: 20px;
    color: #1f2937;
}
.call-to-action,
footer
{
background-color: #3882f6;
margin-bottom: 100px;
display: flex;
align-items: center;
justify-content: space-between;


}
.call-to-action{
    padding: 0 10%;
    border-radius: 10px;
    height: 100px;
}
.call-to-action p{
margin-top: 6px;
font-size: 18px;
    color: #e5e7e8;
}
.call-to-action button{
    color: #fff;
    border-radius: 10px;
    padding: 10px 25px;
    font-size: 20px;
    border: 2px solid #fff;
    background: transparent;
}
footer{
    margin-bottom: 0;
    justify-content: center;
    background-color: #1f2937;
    height: 90px;
}